.categories {
  display: flex;
  margin-top: 15rem;
  justify-content: space-around;
  font-size: 2rem;
  cursor: pointer;
  color: var(--light-grey);
  font-weight: 700;
}

.categories p:hover {
  color: var(--color-primary-darker);
}

.categories p:active {
  color: var(--color-primary-darker);
}
