.main {
  display: flex;
  column-gap: 30rem;
  margin-top: 2rem;
  align-items: center;
  justify-content: center;
}

.main-img {
  width: 130rem;
  height: 70rem;
}

.main-img img {
  height: 100%;
  width: 100%;
}

.main-text {
  text-align: center;
}

.main-text h1 {
  margin-left: 100px;
  font-size: 5.5rem;
  color: var(--darker-grey);
}

.highlight {
  position: relative;
}

.highlight::after {
  display: block;
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  opacity: 0.7;
  transform: scale(1.07, 1.05) skewX(-15deg);
  background-image: var(--gradient-primary);
}
